<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.mapper.AppArticleMapper">
  <resultMap id="BaseResultMap" type="com.xiao.dao.AppArticle">
    <!--@mbg.generated-->
    <!--@Table app_article-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, app_id, article_id
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    <!--@mbg.generated-->
    update app_article
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="app_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.appId,jdbcType=VARCHAR}
        </foreach>
      </trim>
      <trim prefix="article_id = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id,jdbcType=BIGINT} then #{item.articleId,jdbcType=BIGINT}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id,jdbcType=BIGINT}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    <!--@mbg.generated-->
    insert into app_article
    (id, app_id, article_id)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.appId,jdbcType=VARCHAR}, #{item.articleId,jdbcType=BIGINT}
        )
    </foreach>
  </insert>
  <insert id="batchInsertSelectiveUseDefaultForNull" parameterType="map">
    <!--@mbg.generated-->
    insert into app_article
    (id, app_id, article_id)
    values
    <foreach collection="list" item="item" separator=",">
      (
      <choose>
        <when test="item.id != null">
          #{item.id,jdbcType=BIGINT},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.appId != null">
          #{item.appId,jdbcType=VARCHAR},
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT,
        </otherwise>
      </choose>
      <choose>
        <when test="item.articleId != null">
          #{item.articleId,jdbcType=BIGINT}
        </when>
        <!--@ignoreSql-->
        <otherwise>
          DEFAULT
        </otherwise>
      </choose>
      )
    </foreach>
  </insert>
  <insert id="insertOnDuplicateUpdate" parameterType="com.xiao.dao.AppArticle">
    <!--@mbg.generated-->
    insert into app_article
    (id, app_id, article_id)
    values
    (#{id,jdbcType=BIGINT}, #{appId,jdbcType=VARCHAR}, #{articleId,jdbcType=BIGINT})
    on duplicate key update 
    id = #{id,jdbcType=BIGINT}, 
    app_id = #{appId,jdbcType=VARCHAR}, 
    article_id = #{articleId,jdbcType=BIGINT}
  </insert>
  <insert id="insertOnDuplicateUpdateSelective" parameterType="com.xiao.dao.AppArticle">
    <!--@mbg.generated-->
    insert into app_article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="appId != null and appId != ''">
        app_id,
      </if>
      <if test="articleId != null">
        article_id,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="appId != null and appId != ''">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=BIGINT},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id,jdbcType=BIGINT},
      </if>
      <if test="appId != null and appId != ''">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null">
        article_id = #{articleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>